@font-face {
  font-family: "Dense";
  src: url(dense-webfont.woff);
}

body {
  margin: 0;
}

.container {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.hero,
.hero--back {
  display: block;
  width: 37.500rem;
  margin: 0 auto;
}

.hero--back {
  display: none;
}

@media screen and ( max-width: 47.938em ) {
  .hero {
    width: auto;
    max-width: 100%;
  }
}

.buttons {
  display: table;
  margin: 0 auto;
  width: 37.500rem;
}

@media screen and ( max-width: 47.938em ) {
  .buttons {
    width: 100%;
  }
}

.button {
  display: table-cell;
  padding: 1rem;
  width: 33.3333333%;
  font-family: "Dense",sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #303030;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@media screen and ( max-width: 47.938em ) {
  .button{
    display: block;
    width: 100%;
  }
}